.bg{
    background-color:   #5AD2E3;

}

.logout{
  color: #fff  ;
  background-color: #5AD2E3;
  border-radius: 20px;
  height: 5%;
}

.background-perfil{
  background-color: white;
  color: #5AD2E3;
}



.lista-perfil{
    background-color: #fff;
    color: black;
}

.div-perfil{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
}